@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes fadeIn {
    0% {
      filter: opacity(0%);
    }
    100% {
        filter: opacity(100%);
    }
}
@keyframes fadeOut {
    0% {
      filter: opacity(100%);
    }
    100% {
        filter: opacity(0%);
    }
}

p {
    max-width: 40%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    text-rendering: optimizeLegibility;
}
.HomeBG {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/derek-thomson-TWoL-QCZubY-unsplash.jpg");
    background-position: 1%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(110%) saturate(80%);
}
.HomeHero {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}

nav {
    position: relative;
    top: 0px;
    padding: 40px 0px;
    text-align: center;
    user-select: none;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

section, footer {
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

h3 {
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: capitalize;
}

a {
    color: #1abc9c;
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: #12656c;
}

.underline-nav {
    z-index: 1000;
    padding: 0px;
    margin-top: 0px;
    list-style-type: none;
}
.underline-nav li {
    display: inline;
}
.underline-nav li a {
    user-select: none;
    color: rgb(226, 226, 226);
    text-decoration: none;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.underline-nav li a:before {
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
}
.underline-nav li a:hover {
    color: #fff;
    letter-spacing: 5px;
}
.underline-nav li a:hover:before {
    transform: scaleX(1);
}

.transform-left a:before {
    transform-origin: 10% 0%;
}

.transform-right a:before {
    transform-origin: 100% 0%;
}

@media (max-width: 768px) {
    .underline-nav li {
        padding: 10px;
        display: block;
    }
}

.Button {
    cursor: pointer;
}

.Branding {
    animation: 2s ease-out 0s 1 fadeIn;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    z-index: 1000;
    width: 100vw;
    height: 50px;
}
.Name {
    color: white;
    font-size: 1.3em;
    font-family: 'Quicksand', sans-serif;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.Backdrop {
    z-index: 1000;
    width: 100%;
    height: 800px;
    background-color: rgba(0,0,0,0.7);
    border: rgb(161, 161, 161);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.Section {
    width: 100%;
    height: 100%;
    color: white;
    padding: 0px;
}

.title {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.FName {
    width: 20%;
    padding: 12px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    resize: vertical;
}
.FMessage {
    width: 50%;
    height: 300px;
    padding: 12px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    resize: none;
}
.FSubmit {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-invalid {
    background-color: rgb(255, 108, 108);
}

.emailsocial {
    margin-top: 30px;
}
.email {
    text-align: center;
}
.social {
    text-align: center;
}

.nohighlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nounderline {
    text-decoration: none;
    color: white;
}
.nohover {
    pointer-events: none;
}